header{
    nav{
        background-color: rgba(#44749d ,1);
        position: relative;
        z-index: 1;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            padding: 0;
            list-style: none;
            margin: 0;
            li{
                margin:0 5px;
                a{
                    text-decoration: none;
                    font-size: 18px;
                    color: #ebe7e0;
                    font-weight: 700;
                    padding: 10px 5px;
                }
            }
        }
    }
    .logo{
        font-weight: 700;
        font-size: 25px;
    }
}