body{
    margin: 0;

    font-family: 'Raleway';
    h3{
        font-size: 25px;
        font-weight: 700;
    }

    header{
        position: relative;
        z-index: 2;
    }
    .container{
        margin: 0 auto;
        @media(min-width:768px){
            width: 550px;
        } 
        @media(min-width:992px){
            width:780px ;
        } 
        @media(min-width:1200px){
            width: 1010px;
        }

        @media(min-width:1400px){
            //width: 1320px;
            width: 1010px;
        }
    }

    .video-background{
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        overflow: hidden;
        margin-top: -150px;
        &:before{
            content: '';
            position: absolute;
            z-index: 1;
            inset:0;
        }

        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .video-background--content{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            overflow: hidden;
            width: 510px;
            height: 100%;
            left: -50px;
            bottom: -50px;
            background-color: #ebe7e0;
            transform: rotateZ(5deg);
            z-index: 1;
        }
    }
    .video-background .txt{
        position: relative;
        background: #000;
        transform: rotateZ(-5deg);
        padding: 0 20px 0 10px;
        margin-right: -5px;
        .first-line,.second-line{
            padding: 0;
            margin: 0;
            color: #fff;
            font-size: 40px;
        }
        .second-line{
            font-size: 28px;
        }
    }

    .experience-row{
        position: relative;
        margin-top: -60px;
        z-index: 1;

        .experience_container{
            .experience_container-cards{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #fff;
                border-radius: 10px;
                padding: 0 10px;
                //box-shadow: 0px 0px 5px 0px rgba(#000, .5);
                border: 1px solid #000;
                box-shadow: 10px 10px 1px 0px rgba(#000, 1);
            }
            .experience_container--card{
                position: relative;
                flex: 1;
                padding: 0 10px;    
                margin: 15px 0;
                h3{
                    font-size: 25px;
                    font-weight: 700;
                    span{
                        display: block;
                        font-size: 18px;
                        font-weight: 100;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 1px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(#000, .5);
                }
                &:last-child{
                    &::before{
                        display: none;
                    } 
                }
            }
        }
    }
    .practical-row{
        padding: 100px 0;
        h3{
            position: relative;
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 20px;
            span{
                font-size: 25px;
                font-weight: 100;
            }
        }
    }
}


input[type="text"]{
    transition: border-bottom .3s;
    outline: none;
    border: 0;
    border-bottom: 2px solid #cfcfcf;
    background-color: #cfcfcf;
    padding: 10px 5px;
    border-radius: 3px 3px 0 0;
    &:focus{
        border-bottom: 2px solid #000;
    }
}

input[type="file"] {
    display: none;
}
.upload-files{
    transition: all .3s;
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px 10px;
    &:hover{
        background-color: #000;
        color: #fff;
    }
}

.btn{
    cursor:pointer;
    padding: 0;
    border: 0;
    margin: 0;
    span{
        transition: all .3s;
        display: block;    
        border: 1px solid #000;
        background: #fff;
        padding: 10px 15px;
        color: #000;
        border-radius: 2px;
        box-shadow: 5px 5px 1px 0px #cfcfcf;
    }
    &:hover{
        span{
            background: #cfcfcf;
            box-shadow: 0px 0px 0px 0px #cfcfcf;
            color: #000;
        }
    }
}

ul.row-btn{
    display: flex;
    padding: 0;
    list-style: none;
    li{
        width: 33%;
        a{
            position: relative;
            display: block;
            text-decoration: none;
            text-align: center;
            border: 1px solid #000;
            border-radius: 3px;
            padding: 10px 10px;
            margin: 3px;
            span{
                position: relative;
                color: #000;
            }
            &:before{
                transition: width .3s;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: #000;
                width: 0%;
            }
            &:hover{
                span{
                    color: #fff;
                }
                &:before{
                    width: 100%;
                }
            }
        }
    }
}